.button-row , .table-row , .lab-row , .img-row , .bad-row ,
.drop-row , .nav-row , .bars-row , .al-row , .pro-row , .list-row ,
.pan-row{
	margin-left: 0;
}

.img-thumbnail{
	background-color: #ddd;
	border: 3px solid #ccc;

}

.column-left , .pan-cont{
	padding-left: 0;
}